* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Casper;
}
.slidelabel {
  color: whitesmoke;
  /* background: linear-gradient(to right, #ff512f, #dd2476); */
  font-size: 45px;
  font-family: Casper;
  margin-left: 0px;
  margin-right: 0px;
  opacity: 0.5;
}

p {
  font-family: Casper;
  font-style: italic;
  font-size: 20px;
  color: linear-gradient(to right, #ff512f, #dd2476);
  background: linear-gradient(to right, #ff512f, #dd2476);
  opacity: 0.5;
}

.card-img-top {
  height: 150px;
  width: 120px;
}

h3 {
  background-image: linear-gradient(to right, #ff512f, #dd2476);
  height: 50px;
  border-radius: 5px;
  text-align: center;
  color: white;
}

/* .carousel-caption{
    background: linear-gradient(to right, #ff512f, #dd2476);
    
} */

/* .card {
  margin: 5px;
  background: linear-gradient(to right, #ff512f, #dd2476);
} */

.footer{
    text-align: center;
    background: linear-gradient(to right, #ff512f, #dd2476);
    border-radius: 0;
    font-family: Casper;
    color: white;
}
.subheading{
    color: white;
    font-size: 2rem;
}

.price{
    color: black !important;
}